<h1>Encounter Details</h1>
<%= @encounter.id %>
<strong>Visit Number:</strong>
<%= @encounter.visitNumber %>

<strong>Admitted At:</strong>
<%= @encounter.admittedAt %>

<strong>Discharged At:</strong>
<%= @encounter.dischargedAt %>

<strong>Location:</strong>
<%= @encounter.location %>

<strong>Room:</strong>
<%= @encounter.room %>

<strong>Bed:</strong>
<%= @encounter.bed %>
