<h1>Patient Details</h1>
<p>
  <strong>First Name:</strong>
  <%= @patient.firstName %>

  <strong>Middle Name:</strong>
  <%= @patient.middleName %>

  <strong>Last Name:</strong>
  <%= @patient.lastName %>

  <strong>Weight:</strong>
  <%= @patient.weight %>

  <strong>Height:</strong>
  <%= @patient.Height %>

  <strong>MRN:</strong>
  <%= @patient.MRN %>
</p>


<%= button_to 'Back', patients_path, method: :get %>
